.vscode
bin
ide
lib
sample
doc
out
_icons
test
config*
MIGRATION
WHATSNEW
Makefile*
INSTALL
README
Version
setenv
misc
images
include
samples
moc_*
ui_*
*.un~
*.kdev4
.metadata
osg
cmdenv
tkenv
ChangeLog
